@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  cursor: none;
}

.cursor {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.4);
  transition: all 233ms ease-out;
  position: fixed;
  pointer-events: none;
  z-index: 99;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
}

.cursor2 {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width 0.3s, height 0.3s, opacity 0.3s;
}

.cursorinnerhover {
  width: 64px;
  height: 64px;
  border: 2px solid #fff;
  background-color: rgba(0, 0, 0, 0.4);
}
